body {
    background: #000;
    color: #ffee00;
    text-align: center;
    font-size: 1.5em;
}

a {
    color: #ffee00;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: auto;
}